/************************************************************************************************ 
   
    Copyright 2016 Dissotti 
    
   
    Colaboradores:
    				Marcos Dissotti do Nascimento Rodrigues - marcosdissotti@gmail.com
    				Gabriel Dissotti do Nascimento Rodrigues - gabrieldnrodrigues@gmail.com

   
    Este arquivo é parte do programa Dissotti

    Dissotti é um software livre; você pode redistribuí-lo e/ou 
    modificá-lo dentro dos termos da Licença Pública Geral GNU como 
    publicada pela Fundação do Software Livre (FSF); na versão 3 da 
    Licença, ou (na sua opinião) qualquer versão.

    Este programa é distribuído na esperança de que possa ser  útil, 
    mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
    a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
    Licença Pública Geral GNU para maiores detalhes.

    Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
    com este programa, Se não, veja <http://www.gnu.org/licenses/>.

**************************************************************************************************/

@charset "UTF-8";
/* modifica a formatação de todas as marcas */
*{
    margin:0;
    padding:0;
    /* descomente essa linha para borrar tudo*/
    /* filter:blur(1px);*/
}
/*conteudo do website*/
div.conteudo{
    height:auto;
    width:100%;
}


/* rodapé e cabeçalho padrão */
header.cabecalho, footer.rodape{
    margin:0;
}


/* especificações do rodapé */
footer.rodape{
    bottom:0;
    padding:20px;
    width:100%;
}

/* especificações do cabeçalho */
header.cabecalho{
    top:0;
}

/* marca NAV personalizada (retirado faixa rosa) */
nav.custom{
    box-shadow:none;
    background-color:transparent;
}


/* Especificação da lista do rodapé */
ul.vSeparado li{
    margin:auto 15px;
}
ul.vSeparado a li{
    color:#bdbdbd;
}
ul.vSeparado a li:hover{
    color:#fff;
}

/*Especificações da lista do cabeçalho*/
ul.headervSeparado li{
    margin:auto 30px;
}
ul.headervSeparado a li, li a.customSidNav{ /* edit lista fonte Sid Nav tbm*/
    color:#bdbdbd;
    font-size:14pt;
}
ul.headervSeparado a li:hover{
    color:#fff;
}
/*personaliza li do Sid Nav*/
.side-nav li a.modifica{
    height:70px;
    padding-top:10px;
    font-size:13pt;
}




/*Especificações do slogan onde vai mensagens*/

div.slogan{
    margin-bottom:30px;
    font-size: 14pt;
    padding: 12px;
}

.negrito{
    font-weight: bold;
}

.sublinhado{
    text-decoration:underline; 
}

/*Formatação paragrafo*/
p{
    font-size: 14pt;
}

/*tornar positon absolute*/
.absoluto{
    position:absolute;
}
/*flutuar para cima*/
.btn-cima{
    position:fixed;
    top:20px;
    right:20px;
    color:white;
}
.identado{
    text-indent:1.25cm;
}

.justificado{
    text-align:justify;
}


/*formatação para icones do sid nav*/

.icone{
    height:40px;
    width:30px;
    margin-right:10px;
    padding-bottom:8px;
    margin-bottom:-20px;
}
/*ESTILIZAÇÃO DE BARRA DE ROLAGEM*/
::-webkit-scrollbar {background: rgba(255,255,255,.1);width:6px;} /* barra de rolagem toda */ 
::-webkit-scrollbar-thumb {background:#90a4ae;} /* parte da barra que se movimenta */ 
::-webkit-scrollbar-button {background:rgba(255,255,255,.1);} /* ponta da barra de rolagem */ 
::-webkit-scrollbar-track {background:rgba(216, 223, 234,.1);} /* fundo da barra de rolagem, parte fixa */ 
::-webkit-scrollbar-track-piece {background:rgba(255,255,255,.1);} /* fundo da barra de rolagem, parte que ainda falta rolar */ 
::-webkit-scrollbar-corner {background:rgba(255,255,255,.1);} /* canto inferior direito da barra de rolagem */

.margem-topo{
    margin-top:20px;
}


.espacamento-baixo{
    padding-bottom:50px;
}
/* titulo personalizado para titulo de colunas .. usado em destaques e outras noticias*/
.titulo_coluna_noticia{
    font-size:16pt;
    margin-bottom:0;
    padding-bottom:0;
    padding-left:7px;
    margin-left:7px;
    border-left:indianred 5px solid;
}

.esquerda{
    left:5px;
}

.fonte_banner{
	font-size:36pt;
	font-weight: 300;
	font-family:Roboto;
}
.tracado{
    text-decoration:line-through;
}

.contraste_baixo{
    filter: contrast(60%);
}
.contraste_alto{
    filter: contrast(140%);
}

